:root {
    --main-white: #FFFFFF;
    --main-background-black: #0C0C0E;
    --main-border-black: #000000;
    --main-golden: #BB945F;
}

img {
    display: block;
}

.flex-box {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

header {
    background-color: var(--main-background-black);
    color: var(--main-white);
    padding: 1.25rem;
}

header p {
    flex-grow: 1;
}

nav {
    gap: 1rem;
}

p {
    font-size: 1.25rem;
}

.text-bold {
    font-weight: bold;
}

.welcome {
    background-image: url('/images/main.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.welcome div:nth-child(1) {
    background-color: var(--main-background-black);
    color: var(--main-white);
    font-size: 2.5rem;
    padding: 2rem 3rem;
    text-align: center;
}

nav a{
    color: var(--main-white);
    text-decoration: none;
}

.icon-profile {
    background-image: url('/images/Subtract.svg');
    width: 1.75rem;
    height: 1.75rem;
    margin: 0 0 0 1rem ;
}

.heading-2 {
    font-size: 2.5rem;
}

.about {
    gap: 2rem;
}

.carousell {
    gap: 2rem;
}

.favorites div:nth-child(1) {
    align-self: center;
}

.favorites-items {
    gap: 25px 200px;
}

.favorites-items-box {
    max-width: 560px;
    border: 1px solid brown;
    margin-right: 2rem;
    
}

.favorites-items-box img {
    position: relative;
    left: 400px;
    top: 120px;
}

.favorites-items button {
    margin: 2rem 0.5rem;
    background: white;
    width: 4rem;
    height: 2rem;
}

.coffee-shop {
    text-align: center;
    padding: 0 2rem;
}

.section-header {
    position: relative;
}

.section-header::after {
    content:" ";
    height: 2px;
    width: 3rem;
    background: red;
    display: block;
    position: absolute;
    top: 150%;
    left: 47%;
}

.coffee-shop-list-initial {
    padding: 0 2rem;
}

/* .coffee-shop p:nth-child(2) {
    align-self: center;
    text-align: center;
} */

.coffee-shop-h {
    font-size: 3rem;
    color: var(--main-golden);
}

.coffee-shop-h-1 {
    text-align: start;
}

.coffee-shop-h-2 {
    text-align: end;
}

.coffee-shop-list {
    position: relative;
    max-width: 430px;

}

.coffee-shop-list p:nth-child(1) {
    position: relative;
}

.coffee-shop-list p:nth-child(1)::after {
    content:" ";
    height: 2px;
    width: 8rem;
    background: red;
    display: block;
    position: absolute;
    top: 50%;
    left: 10rem;
}

/* .coffee-shop-list p:nth-child(2) {
    position: absolute;
    right: 0;
} */

.coffee-shop-list-initial-sub div {
    width: 430px;
    display: flex;
    justify-content: space-between;
}

.coffee-shop-list-initial {
    max-width: 1440px;
}

.coffee-shop-list-dessert {
    justify-self: end;
}

.contacts-heading {
    text-align: center;
}

.contacts-text {
    padding: 60px;
}

.contacts {
    margin: 3rem;
}

.heading-center {
    text-align: center;
}

.card-form {
    border: 1px solid var(--main-golden) ;
    margin: 30px;
    gap: 30px;
    padding: 30px;
}

.card-form div {
    gap: 30px;
    background: var(--main-golden);
    padding: 20px;
}

.card-form input {
    width: 520px;
    height: 66px;
    border: 1px solid black;
    border-radius: 10px;
    text-indent: 30px;
}

.card-form button {
    align-self: center;
    width: 242px;
    height: 44px;
    background-color: white;
}

.get-a-card {
    max-width: 456px;
    text-align: end;
    margin: 30px;
}

.get-a-card div {
    justify-content: flex-end;
    gap: 20px;
}

.get-a-card div button {
    align-self: center;
    width: 75px;
    height: 35px;
    background-color: white;
}

footer {
    background: var(--main-background-black);
    padding: 20px;
}


.footer-info div:nth-child(1) p:nth-child(1) {
    color: var(--main-white);
    max-width: 229px;
    font-size: 15px;
}

.footer-info div:nth-child(1) p:nth-child(2) {
    text-indent: 70px;
    color: var(--main-white);
    max-width: 149px;
    font-size: 15px;
}

.footer-info div:nth-child(2) div {
    width: 105px;
    align-items: center;
}

.footer-info div:nth-child(2) p {
    text-indent: 70px;
    color: var(--main-white);
    max-width: 149px;
    font-size: 15px;
}

.footer-rss {
    font-size: 20px;
    position: relative;
    color: var(--main-white);
}

.footer-rss::before {
    content:" ";
    height: 2px;
    width: 1300px;
    background: var(--main-white);
    display: block;
    position: absolute;
    bottom: 60px;
    right: 30px;
}

/* .favorites div:nth-child(2) img {
    align-self: flex-end;
    justify-self: flex-end;
} */

/* .favorites div:nth-child(2) div {
    max-width: 590px;
} */